@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --foreground: oklch(0.145 0 0);
  --foreground-muted: oklch(0.5546 0.0261 285.52);
  --background: oklch(1 0 0);
  --background-muted: oklch(0.9442 0.0053 286.3);

  --primary: oklch(0.1074 0.0447 280.7);
  --secondary: oklch(0.95 0.0058 264.53);
  --ring: oklch(0.708 0 0);
  --border: rgba(0, 0, 0, 0.1);
  --switch-background: oklch(0.8508 0.0089 264.52);

  --sidebar: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-border: oklch(0.922 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

@theme inline {
  /* map to the --color-* namespace so utilities are like bg-foreground, text-foreground */
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-background: var(--background);
  --color-background-muted: var(--background-muted);

  --color-primary-500: var(--primary);
  --color-secondary-500: var(--secondary);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-switch-background: var(--switch-background);

  --color-sidebar: var(--sidebar);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-border: var(--sidebar-border);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

#root {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 250px 1fr 325px;
  grid-template-areas:
    "header header header"
    "left   main   right";
  transition: grid-template-columns 0.3s ease;
}

h3 {
  font-weight: bold;
  font-size: 14px;
}

header {
  grid-area: header;
  background: var(--background);
  color: var(--foreground);
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

header div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0px 15px;
  font-weight: bold;
}

p {
  font-size: 15px;
  font-weight: bold;
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  background-color: rgb(52, 52, 54);
}

aside {
  background: var(--background-muted);
  overflow: auto;
  transition: width 0.3s ease;
}

aside.left {
  grid-area: left;
  border-right: 2px solid var(--border);
}

aside.right {
  grid-area: right;
  border-left: 2px solid var(--border);
}

.node {
  background-color: var(--background);
  border: 1px solid var(--ring);
  padding: 5px;
}

/* Collapsed state */
.collapsed-left {
  grid-template-columns: 0 1fr 250px;
}

.collapsed-right {
  grid-template-columns: 250px 1fr 0;
}

.collapsed-both {
  grid-template-columns: 0 1fr 0;
}

.node-text {
  font-size: 12px;
  font-weight: bold;
}

.text-message {
  font-weight: normal;
  font-size: 14px;
}

.section-button {
  background-color: transparent;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  width: 100%;
  padding: 3px;
}

.section-button.selected {
  background-color: var(--background);
}

.subtext {
  font-size: 14px;
  font-weight: normal;
  color: var(--foreground-muted);
}

#settings {
  margin-left: auto;
}
