@import "tailwindcss";
@import "@/colors.css";

* {
  box-sizing: border-box;
}

.root-div {
  --left-width: 300px;
  --right-width: 500px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: var(--left-width) 1fr var(--right-width);
  grid-template-areas:
    "header header header"
    "left   main   right";
  transition: grid-template-columns 0.3s ease;
}

.root-div.left-collapsed {
  grid-template-columns: 55px 1fr var(--right-width);
}

.root-div.right-collapsed {
  grid-template-columns: var(--left-width) 1fr 55px;
}

.root-div.both-collapsed {
  grid-template-columns: 55px 1fr 55px;
}

h3 {
  font-weight: bold;
  font-size: 14px;
}

header {
  grid-area: header;
  background: var(--background);
  color: var(--foreground);
  filter: drop-shadow(0 1px 1px var(--sidebar-border));
  border-bottom: 1px solid var(--sidebar-border);
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

header div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0px 15px;
  font-weight: bold;
}

p {
  font-size: 15px;
  font-weight: bold;
}

main {
  grid-area: main;
  width: 100%;
  height: 100%;
  background-color: rgb(52, 52, 54);
}

aside {
  background: var(--sidebar-muted);
  overflow: hidden;
  transition: width 0.3s ease;
}

aside.left {
  grid-area: left;
  border-right: 1px solid var(--sidebar-border);
}

aside.right {
  grid-area: right;
  border-left: 1px solid var(--sidebar-border);
}

.node {
  background-color: var(--background);
  border: 1px solid var(--ring);
  padding: 5px;
}

/* Collapsed state */
.collapsed-left {
  grid-template-columns: 0 1fr 250px;
}

.collapsed-right {
  grid-template-columns: 250px 1fr 0;
}

.collapsed-both {
  grid-template-columns: 0 1fr 0;
}

.node-text {
  font-size: 12px;
  font-weight: bold;
}

.text-message {
  font-weight: normal;
  font-size: 14px;
}

.section-button {
  background-color: transparent;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  width: 100%;
  padding: 3px;
}

.section-button.selected {
  background-color: var(--background);
}

.subtext {
  font-size: 14px;
  font-weight: normal;
  color: var(--foreground-muted);
}

#settings {
  margin-left: auto;
}
